:root {
    --black: #1a1a1a;
    --blue : #3aa8ff;
    --gray : #777777;
    --lGray: #f9f9f9;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

canvas {
    display: block;
    background: #f9f9f9;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.z-10 {
    z-index: -10;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brand {
    font-size: 3.75rem;
    font-family: 'Spectral', serif;
    color: var(--black);
    text-decoration: none;
    animation: fadin 3s;
}

.brand span {
    color: var(--blue);
}

@media screen and (max-width: 600px) {
    .brand {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
}

.nav-links a {
    color: var(--gray);
    text-decoration: none;
    margin-left: 20px; /* Default for all */
}
.nav-links a:first-child {
    margin-left: 0; /* Override for the first child */
}

.nav-links a:hover {
    color: var(--blue);
}

.gray {
    color: var(--gray);
}

.m4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    animation: fadin 5s;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--blue);
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 5s infinite;
    transition: left 1s linear, top 1s linear;
}

@keyframes fadin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
}
