:root {
    --black: #1a1a1a;
    --blue: #3aa8ff;
    --gray: #777777;
    --light-gray: #f9f9f9;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

canvas {
    display: block;
    background: var(--light-gray);
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-layer {
    z-index: -10;
}

.viewport-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.page-title {
    font-size: 3.75rem;
    font-family: 'Spectral', serif;
    color: var(--black);
    text-decoration: none;
    animation: fade-in 3s;
}

.page-title span {
    color: var(--blue);
}

@media screen and (max-width: 600px) {
    .page-title {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
}

.link-list a {
    color: var(--gray);
    text-decoration: none;
    margin-left: 20px; /* Default for all */
}

.link-list a:first-child {
    margin-left: 0; /* Override for the first child */
}

.link-list a:hover {
    color: var(--blue);
}

.text-gray {
    color: var(--gray);
}

.spacing-medium {
    margin-top: 4rem;
    margin-bottom: 4rem;
    animation: fade-in 5s;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--blue);
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 5s infinite;
    transition: left 1s linear, top 1s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
}
