body{
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
    background-color: #131414;
}

a{
    text-decoration: none;
    color: #a55c1b;
}

li{
    list-style: none;
    margin-bottom: 30px;
}

ul{
    padding: 0;
}

.cover{
    width: 100%;
    background: rgb(8,0,0);
    background: linear-gradient(90deg, rgba(8,0,0,1) 0%, rgba(17,17,17,1) 50%, rgba(0,0,0,1) 100%);
}

.cover2{
    background: url("images/cover2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.cover3{
    background: url("images/cover3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
    width: 100%;
}

.navbar-left{
    flex: 3;
}

.navbar-right{
    flex: 1;
}

.navbar-scroll{
    background: #181818;
}

.navbar-right button{
    background: transparent;
    padding: 10px 10px;
    border: none;
    color: white;
    transition-duration: 0.3s;
}

.navbar-right .active-button{
    color: #a55c1b;
}

.navbar-right button:hover{
    color: #a55c1b;
}

.cover-text{
    position: relative;
    text-align: center;
    padding-top:15%;
    padding-bottom:15%;
    z-index: 2;
}

.cover-text span{
    color: #a55c1b;
}

.title{
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-bottom: 15px;
    position: relative;
    display: inline-block;
    line-height: 1;
}

.title::before{
    content: '';
	background: #222;
    width: 100%;
    height: 1px;
    position: absolute;
	bottom: 0;
	left: 0;
    box-sizing: border-box;
}

.title::after {
	content: '';
	background: #C49B66;
    position: absolute;
	bottom: 0;
    left:0;
    width: 60px;
    height: 1px;
    box-sizing: border-box;
}

.content{
    text-align: left;
    padding: 100px;
}

.content button{
    background: transparent;
    padding: 10px 10px;
    border: 1px solid white;
    color: white;
    transition-duration: 0.3s;
}

.content button:hover{
    background: #C49B66;
    border: 1px solid #C49B66;
}

.about-skills{
    background-image: url("./images/cover2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 15px 0;
    display: flex;
}

[data-overlay-dark]{
    position: relative;
}

[data-overlay-dark="8"]::before{
    opacity: 0.8;
}

[data-overlay-dark]::before{
    background: black;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.about-column{
    flex: 1;
    padding: 5%;
    padding-left: 10%;
    z-index: 2;
}

.about-column h2{
    padding-top: 5px;
}

.about-column h3{
    line-height: 1.6;
    margin-bottom: 5px;
}

.about-column p{
    line-height: 1.2;
    color: #999;
    margin: 0;
    padding: 0;
}

.md-theme{
    color: #C49B66;
    font-size: 40px;
}

/* projects.html */

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
}

.project-container{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 3%;
    position: relative;
}

.project-container img{
    width: 100%;
    height: 200px;
    grid: 2fr;
    object-fit: cover;
    background-repeat: no-repeat;
}

.project-name{
    background: #181818;
    text-align: center;
    display: table;
    grid: 1fr;
}

.project-name a{
    color: white;
    display: table-cell;
    vertical-align: middle;
}

strong{
    color: #C49B66;
}

.tags{
    position: absolute;
    right: 10%;
    bottom: 26%;
    display: flex;
}

.tag{
    background: #C49B66;
    padding: 8px 20px;
    font-size: 13px;
}

/*Blog*/

.blogpost-container-imgleft{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 150px;
}

.blogpost-container-imgright{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 150px;
}

.blogpost-container{
    position: relative;
    display: grid;
    grid-template-columns: 3fr;
    height: 150px;
}

.blogpost-container-imgleft img{
    width: 280px;
    height: 150px;
    grid: 1fr;
}

.blogpost-container-imgright img{
    width: 280px;
    height: 150px;
    grid: 1fr;
}

.blog-title{
    grid: 3fr;
    background: #181818;
    text-align: center;
    display: table;
    height: 100%;
}

.blogpost-container a{
    color: white;
}

.blogpost-container-imgleft a{
    color: white;
}

.blogpost-container-imgright a{
    color: white;
}

.blog-title a{
    display: table-cell;
    vertical-align: middle;
}

.blog-tags{
    position: absolute;
    right: 5%;
    bottom: 15%;
    display: flex;
}

.blogpost-container-imgright .blog-tags{
    right: 30%;
    bottom: 15%;
}



/*https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div*/
/*https://fireship.io/snippets/light-dark-mode-theme-css/*/
/*http://www.innovationplans.com/idesign/personala/dark.html#0*/
/*https://material.io/resources/icons/?icon=personal_video&style=baseline*/
