:root {
    --background-color: #131414;
    --secondary-color: #a55c1b;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

li{
    list-style: none;
    margin-bottom: 1.875rem;
}

ul{
    padding: 0;
}

.cover{
    width: 100%;
    background: url('./images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cover2{
    background: url('./images/cover2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.cover3{
    background: url("./images/cover3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    z-index: 3;
    width: 100%;
}

.navbar-left{
    padding-left: 1.25rem;
}

/*Logo*/
.logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
    background-color: var(--secondary-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.logo::before {
    content: '';
    position: absolute;
    background-color: var(--background-color);
    height: 1.8rem;
    width: 1.2rem;
    top: 0.74rem;
    right: 0.21rem;
    transform: rotate(45deg);
}

.logo::after {
    content: '';
    position: absolute;
    background-color: var(--background-color);
    height: 1rem;
    width: 1rem;
    top: 1rem;
    right: 1rem;
    transform: rotate(45deg);
}

.navbar-left img {
    width: 5rem;
}

.navbar-right{
    display: flex;
    padding-right: 1.25rem;
}

.navbar-scroll{
    background: #181818;
}

.navbar-right button{
    background: transparent;
    padding: 0.625rem 0.625rem ;
    border: none;
    color: white;
    transition-duration: 0.3s;
}

.navbar-right .active-button{
    color: var(--secondary-color);
}

.navbar-right button:hover{
    color: var(--secondary-color);
}

.cover-text{
    position: relative;
    text-align: center;
    padding-top:15%;
    padding-bottom:15%;
    z-index: 2;
}

.cover-text span{
    color: var(--secondary-color);
}

.title{
    text-align: left;
    margin: 0;
    margin-bottom: 1.875rem;
    padding: 0;
    padding-bottom: 1rem;
    position: relative;
    display: inline-block;
    line-height: 1;
}

.title::before{
    content: '';
	background: #222;
    width: 100%;
    height: 1px;
    position: absolute;
	bottom: 0;
	left: 0;
    box-sizing: border-box;
}

.title::after {
	content: '';
	background: #C49B66;
    position: absolute;
	bottom: 0;
    left:0;
    width: 3.75rem;
    height: 1px;
    box-sizing: border-box;
}

.content{
    text-align: left;
    padding: 4rem;
}

.content button{
    background: transparent;
    padding: 0.625rem 0.625rem;
    border: 1px solid white;
    color: white;
    transition-duration: 0.3s;
}

.content button:hover{
    background: #C49B66;
    border: 1px solid #C49B66;
}

.about-skills{
    background-image: url("./images/cover2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 1rem 0;
    display: flex;
}

@media (max-width: 610px){
    .about-skills{
        flex-direction: column;    
    }

    .about-column{
        text-align: center;
    }
}

[data-overlay-dark]{
    position: relative;
}

[data-overlay-dark="8"]::before{
    opacity: 0.8;
}

[data-overlay-dark]::before{
    background: black;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.about-column{
    flex: 1;
    padding: 5%;
    padding-left: 10%;
    z-index: 2;
}

.about-column h2{
    padding-top: 5px;
}

.about-column h3{
    line-height: 1.6;
    margin-bottom: 5px;
}

.about-column p{
    line-height: 1.2;
    color: #999;
    margin: 0;
    padding: 0;
}

.md-theme{
    color: #C49B66;
    font-size: 40px;
}

/* projects.html */

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
}

@media (max-width: 1030px){
    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 614px){
    .projects-container{
        grid-template-columns: 1fr;
    }
}

.project-container{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 7px;
    position: relative;
}

.project-container img{
    width: 100%;
    height: 200px;
    grid: 2fr;
    object-fit: cover;
    background-repeat: no-repeat;
}

.project-name{
    background: #181818;
    text-align: center;
    display: table;
    grid: 1fr;
}

.project-name a{
    color: white;
    display: table-cell;
    vertical-align: middle;
}

strong{
    color: #C49B66;
}

.tags{
    position: absolute;
    right: 10%;
    bottom: 26%;
    display: flex;
}

.tag{
    background: #C49B66;
    padding: 8px 20px;
    font-size: 13px;
}

/*Blog*/

.blogposts-container{
    display: flex;
    flex-direction: column;
}

.blogpost-container, .blogpost-container-imgleft, .blogpost-container-imgright{
    position: relative;
    display: grid;
    height: 150px;
    margin: 10px;
}

.blogpost-container-imgleft{
    grid-template-columns: 1fr 3fr;
}

.blogpost-container-imgright{
    grid-template-columns: 3fr 1fr;
}

.blogpost-container{
    grid-template-columns: 1fr;
}

.blogpost-container-imgleft img{
    width: 21vw;
    height: 100%;
    object-fit: cover;
}

.blogpost-container-imgright img{
    width: 21vw;
    height: 100%;
    object-fit: cover;
}

.blog-title{
    font-size: 1.3vw;
    background: #181818;
    text-align: center;
    display: table;
    height: 100%;
}

.blogpost-container a{
    color: white;
}

.blogpost-container-imgleft a{
    color: white;
}

.blogpost-container-imgright a{
    color: white;
}

.blog-title a{
    display: table-cell;
    vertical-align: middle;
}

.blog-tags{
    position: absolute;
    right: 5%;
    bottom: 15%;
    display: flex;
}

.blogpost-container-imgright .blog-tags{
    right: 30%;
    bottom: 15%;
}

@media (max-width: 767px){
    .blog-title{
        font-size: 0.7em;
    }

    .blogpost-container-imgleft img{
        display: none;
    }

    .blogpost-container-imgright img{
        display: none;
    }

    .blogpost-container-imgleft{
        grid-template-columns: 1fr;
    }

    .blogpost-container-imgright{
        grid-template-columns: 1fr;
    }

    .blogpost-container-imgright .blog-tags{
        right: 5%;
        bottom: 15%;
    }

}
